{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trend Bazar - Your Shopping Destination</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="{% static 'trend_bazar_logo.png' %}" width="125px" alt="Logo">
        </div>
        <div class="links">
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'help' %}">Help</a></li>
                    <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                </ul>
            </nav>
        </div>

        {% if not user.is_authenticated %}

        <div class="header-actions">
           
            <div class="user-actions">
                <a href="{% url 'login' %}">
                <button class="login-btn">
                    <i class="fas fa-user"></i>
                   <span>Login</span>
                </button>
                </a>
            </div>
            <div class="user-actions">
                <a href="{% url 'register' %}">
                <button class="login-btn">
                    <i class="fas fa-user"></i>
                    <span>register</span>
                </a>
                </button>
            </div>

        {% else %}

            <div class="cart-container">
                <button class="cart-btn" id="cartBtn">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="cart-count" id="cartCount">0</span>
                </button>
            </div>

           <div class="user-actions">
                <a href="{% url 'password_reset' %}">
                <button class="login-btn">
                    <i class="fas fa-user"></i>
                   <span>change pass</span>
                </button>
                </a>
            </div>
            <div class="user-actions">
                <form action="{% url 'logout' %}" method="post" class="logout-form">
                    {% csrf_token %}
                    <button type="submit" class="login-btn">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </button>
                </form>
            </div>

        {% endif %}

        </div>
    </div>